apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "address": "http://nomad.nomad-system.svc.cluster.local:4646",
      "region": "global"
    }
